---
/*
    Flowtide
    Copyright (C) 2024-present George Stone

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    https://github.com/thingbomb/flowtide
*/
import BaseHead from "../components/BaseHead.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";

const { title, description, url, author } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} - Flowtide Plugins`} description={description} />
  </head>
  <body class="bg-black">
    <Header />
    <div class="grid grid-cols-[200px_1fr] gap-8 p-8 max-w-screen-sm m-auto">
      <div>
        <h1 class="text-white text-2xl font-bold mb-2">{title}</h1>
        <p class="text-white text-lg mb-4">
          Made by <a href={author.url} class="text-blue-300 hover:underline">
            {author.name}
          </a>
        </p>
        <Button disabled data-url={url} full-width>Add to Flowtide</Button>
      </div>
      <div>
        <p class="text-white text-lg mt-3">{description}</p>
        <a
          class="font-medium text-sm text-slate-400 flex items-center gap-2"
          href={url}
          target="_blank"
          download="source.css"
        >
          Download source code
        </a>
      </div>
    </div>
  </body>
</html>
