---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import plugins from "./plugins";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Plugins for Flowtide" description="Plugins for Flowtide" />
  </head>
  <body class="bg-black">
    <Header />
    <div class="flex flex-col gap-4 p-6 text-white">
      {
        Object.keys(plugins).map((pluginId) => (
          <a href={`/plugins/${pluginId}`}>
            <h3>{plugins[pluginId].title}</h3>
            <p class="pt-0 mt-0">
              <a href={plugins[pluginId].author.url}>
                By {plugins[pluginId].author.name}
              </a>
              {plugins[pluginId].shortDescription
                ? ` | ${plugins[pluginId].shortDescription}`
                : ""}
            </p>
          </a>
        ))
      }
    </div>
  </body>
</html>
